


.mobileNav{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    padding: 0.7rem 2rem;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    /* gap: 27.5vw; */
    width: 100vw;
    background-color: #c0c5c4;

}





